<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.careofhair.careofhare">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CareActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SaleActivity"
            android:label="@string/sale_name"
            android:theme="@style/AppTheme">
            <action android:name="android.intent.careofhair.action.giveSale" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".StatActivity"
            android:label="@string/stat_name"
            android:theme="@style/AppTheme">
            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".DevActivity"
            android:label="@string/dev_name"
            android:theme="@style/AppTheme">
            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/schedule_name"
            android:theme="@style/AppTheme">
            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".SendNowActivity"
            android:label="@string/sendnow_name"
            android:theme="@style/AppTheme">
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <receiver
            android:name=".RestartService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MyAlarmService">
        </receiver>

        <service
            android:name=".Send2SMS"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".SheduleService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>